/* Start Body */
body {
    background-color: aliceblue; color: aliceblue;
    background-image: url('../images/gedung-smp-terpadu-alhikmah.JPG');
    background-position-x;
}
/* End Body */

/* Start Nav */
*{
    margin: 0;
    padding: 0;
}
.nav {
    margin: auto;
    text-align: center;
    font-family: 'Brandon Grotesque','brandon-grotesque',Helvetica,sans-serif;
    font-weight: normal;
    width: 100%;
    font-size: 20px;
}

.nav ul { 
    background-color: hsla(189, 82%, 51%, 0.953);
    list-style: none
    border-radius: 4px;
    position: relative;
    display: inline-table;
    width: 100%;
    /*
    box-shadow: 
        0 3px 5px - 1px aliceblue,
        0 6px 18px 0 aquamarine,
        0 1px 18px 0 aqua
    */
}

.nav li {
    float: left;
    /*
    border-right: 1px solid aquamarine;
    display: inline-block;
    */
}

.nav li:hover {
    background: hsla(189, 71%, 68%, 0.953);
}

.nav li:hover a {
    color: azure;
    /*font-size: 20px;
    padding: 10px 20px;*/
}

.nav a {
    display: block;
    padding: 25px;
    color: blue;
    text-decoration: none;
}
/* End Nav*/

/* Start Debug */
.bg-birumuda {
    background-color: hsla(189, 82%, 51%, 0.953)
}
/*
.bg-blue {
    background-color: blue;
}
.bg-yellow {
    background-color: yellow;
}
*/
/* End Debug */

/* Start Container */
.container {
    margin: 10px auto;
    overflow: auto;
    width: 90%;
}
/* End Container */

/* Start Logo
.logo {
    text-align: center;
}
*/

/* Start Anchor / Hyperlink*/
a:link,
a:visited {
    color: aqua;
    text-decoration: none;
}
a:hover,
a:active {
    color: #000000
    text-decoration: underline;
}
/* End Anchor / Hyperlink*/

/* Start Effect*/
@import url(https://fonts.googleapis.com/css?family=Roboto:100,700;);
.snip1576 {
  background-color: #fff;
  color: #444;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  margin: 8px;
  max-width: 315px;
  min-width: 230px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.snip1576 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.snip1576:after {
  background-color: #359ad8;
  height: 150%;
  bottom: -145%;
  content: '';
  left: 0;
  right: 0;
  position: absolute;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.snip1576 img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}

.snip1576 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.1em;
  opacity: 0;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.snip1576 h3 {
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0;
  text-transform: uppercase;
}

.snip1576 h3 span {
  display: block;
  font-weight: 700;
}

.snip1576 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.snip1576:hover > img,
.snip1576.hover > img {
  opacity: 0.1;
}

.snip1576:hover:after,
.snip1576.hover:after {
  bottom: 95%;
}

.snip1576:hover figcaption,
.snip1576.hover figcaption {
  opacity: 1;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

/* Demo purposes only */

body {
  background-color: #212121;
  text-align: center;
}
/* End Effect*/

/* Start Menu Sekunder */
.menu-sekunder-one {
  
}
.menu-sekunder-two
.menu-sekunder-three
/* End Menu Sekunder */

/* Start */
/* End */